@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .neo-border {
    @apply border-4 border-black;
  }
  .neo-shadow {
    @apply shadow-[4px_4px_0px_0px_rgba(0,0,0,1)];
  }
  .neo-active {
    @apply active:translate-x-1 active:translate-y-1 active:shadow-none transition-all duration-100;
  }
  
  .neo-brutal-black {
    @apply border-[3px] border-black shadow-[6px_6px_0px_0px_rgba(0,0,0,1)];
  }
  .neo-brutal-pink {
    @apply border-[3px] border-black shadow-[8px_8px_0px_0px_#f49cb0];
  }
  .neo-brutal-yellow {
    @apply border-[3px] border-black shadow-[8px_8px_0px_0px_#FFE600];
  }
  .neo-brutal-active {
    @apply active:translate-x-1 active:translate-y-1 active:shadow-[2px_2px_0px_0px_rgba(0,0,0,1)] transition-all duration-100;
  }
  
  .bg-pattern-latihan {
    background-color: #ffffff;
    background-image: radial-gradient(#f49cb0 0.5px, transparent 0.5px), radial-gradient(#f49cb0 0.5px, #ffffff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
  }
}

body {
  font-family: 'Shantell Sans', cursive;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  transition: background-color 0.5s ease;
}
